@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(102, 102, 248);
}

header {
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

footer a{
    color: white;
    text-align: center;
    font-style: italic;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}